<div class="img-fluid pic_top">
    <div class="col-xs-12 cover-img_about">
      <div class="cover-text_about text-center">
        <div><p>Mash Up</p></div>
        <div class="cover-subtext_about"><p>【”世界”をもっと身近に！】というミッションを達成するために<br>立ち上げた海外インターンのWEBメディアです</p></div>
      </div>
    </div>
</div>
               <div class="container all_shadow sm_top">
                  <h2 class="header_text">
                   <%= fa_icon("plane") %>Mash UPとは？
                  </h2>
                  <div class="main_contents">
                   <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1553150360/mash_up_routine/%E3%83%9E%E3%83%83%E3%82%B7%E3%83%A5%E3%82%A2%E3%83%83%E3%83%95%E3%82%9A%E5%86%99%E7%9C%9F.png" class="img-fluid">
                  </div>
                </div>

        <!--Section: Best Features-->

        <div class="gray-content">
      </div>



         <div class="container all_shadow">
             <h2 class="header_text">
                <%= fa_icon("plane") %>MashUpの特徴
             </h2>
              <div class="main_contents">
                <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1553159006/mash_up_routine/908f7e4f138502741f6e47a6a58f7ef5.png" class="img-fluid">
              </div>
         </div>

         <div class="gray-content">
      </div>

        <!--Section: Examples-->
            <div class="container all_shadow">
                  <h2 class="header_text">
                  <%= fa_icon("check-square") %>提供しているコンテンツ
                  </h2>
                  <div class="main_contents">
                  <div class="sm_header_text">
                    ①海外インターン・ボランティア・各国の生活情報
                    <a href="/blogs"><div class="btn btn-lg btn-block index_page_btn margin_btn">詳しくはこちらから</div></a>
                  </div>
                  <div class="sm_header_text">
                    ②経営者インタビュー＆インターンシップ募集情報
                    <a href="/products"><div class="btn btn-lg btn-block index_page_btn margin_btn">詳しくはこちらから</div></a>
                  </div>
                  <h2 class="sm_header_text">
                    ③海外インターンに関する記事・体験談・口コミなど
                  </h2>
                    <div class="temporary_word">
                      <div class="main_contents">
                      <%= fa_icon("exclamation-triangle") %>このコンテンツは現在準備中です<br>
                       このサイトに記事を載せたい方絶賛募集中なので<br>書きたいと思った方は<a href="/inquirys">お問い合わせページ</a>よりお問い合わせの方よろしくお願いします。
                      </div>
                   </div>
                  </div>
            </div>

      <div class="gray-content">
      </div>

        <!--Section: Examples-->
            <div class="container all_shadow">
               <ul class="detail_info">
                      <li class="item"><%= fa_icon("globe") %>団体名</li>
                      <li class="item">任意団体MashUp</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("language") %>URL</li>
                      <li class="item">https://mash-up1221.com/</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("user-lock") %>活動内容</li>
                      <li class="item">Webメディア運営</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("user-tie") %>創立者</li>
                      <li class="item">島 勇一</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("calendar-alt") %>設立日</li>
                      <li class="item">2018年12月21日</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("users") %>メンバー数</li>
                      <li class="item">9名</li>
                    </ul>
                   </div>
            </div>

    </div>