<div id="intro" class="view">

  <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Mash Up</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-8">海外インターンを通して人生に新たな１ページを刻もう</h4>
                </div>

            </div>

        </div>

    </div>

</div>
<main class="mt-5">
    <div class="container">

        <!--Section: Best Features-->
        <section id="best-features">
                <div class="recruit_content">
               <div class="all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("plane") %>海外インターンとは？
                  </h2>
                  <div class="main_contents">
                   留学リンクなど
                  </div>
                </div>
              </div>
             
             


        </section>
        <!--Section: Best Features-->

        <hr class="my-5">

        <!--Section: Examples-->
        <section id="examples">
         <div class="recruit_content">
                <div class="all_shadow">
                  <h2 class="header_text">
                  <%= fa_icon("check-square") %>意思決定プロセス
                  </h2>
                  <div class="main_contents">
                    この項目の説明
                  </div>
                  </h2>
                </div>
              </div>
         <div class="decision_process">
                <div class="all_shadow">
                  <div class="main_contents">
                    １,目的
                  </div>
                  </h2>
                </div>
              </div>
            <div class="risize_arrow">
               <%= fa_icon("arrow-down") %>
            </div>
         <div class="decision_process">
                <div class="all_shadow">
                  <div class="main_contents">
                    ２,情報
                  </div>
                  </h2>
                </div>
              </div>
             <div class="risize_arrow">
               <%= fa_icon("arrow-down") %>
            </div>
        <div class="decision_process">
                <div class="all_shadow">
                  <div class="main_contents">
                    ３,手段
                  </div>
                  </h2>
                </div>
              </div>



        </section>
        <!--Section: Examples-->

        <hr class="my-5">

        <!--Section: Gallery-->
        <section id="gallery">
         <div class="recruit_content">
                <div class="all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("table") %>媒体の選択
                  </h2>
                  <div class="main_contents">
                    マトリクス写真を載せる
                  </div>
                </div>
              </div>



        </section>
        <!--Section: Gallery-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">



        </section>
        <!--Section: Contact-->

    </div>
</main>