<div class="img-fluid pic_top">
    <div class="col-xs-12 cover-img">
      <div class="cover-text text-center">
        <div><p>Mash Up</p></div>
        <div class="cover-subtext"><p>海外インターンを通して人生に新たな1ページを！</p></div>
      </div>
    </div>
</div>
    <div class="container all_shadow sm_top">
                  <h2 class="header_text">
                   <%= fa_icon("file-user") %>社長インタビュー一覧
                  </h2>
                  <div class="main_contents">
                   <div class="row">
                     <% @products.each do |product| %>
                        <div class="col-sm-6 col-md-4 search" data-category='CMS' data-tag='["<%= product.country.name %>","<%= product.period.id %>"]'>
                      <a href="/products/<%= product.id %>">
                        <div class="card top20">
                        <div class="sub_pic">
                           <img class="img-thumbnail" src="<%= product.slider_photo1 %>" alt="">
                           <span><%= product.country.name %></span>
                        </div>
                         <div class="card-body">
                            <div class="card-title">
                               <%= truncate(product.c_title, length: 58) do %>
                               <% end %>
                            </div>
                             <div class="card-title">
                               <table class="media-card_table">
                                  <tr class="card_C_name">
                                   <th>会社名</th>
                                     <td>
                                      <%= truncate(product.c_name, length: 30) do %>
                                      <% end %>
                                     </td>
                                   </tr>
                               </table>
                             </div>
                             <% product.connect_tags.each_with_index do |connect_tag,i| %>
                              <li class="tag_zone_index">
                               <%= connect_tag.tag.name %>
                               </li>
                               <%  break if i== 2 %>
                             <% end %>
                          </div>
                        </div>
                      </a>
                      <!--/.Card-->
                      </div>
                     <% end %>
                    <!--Grid column-->
                    </div>
                  </div>
                   <a href="products"><div class="btn btn-lg btn-block index_page_btn margin_btn">他の社長インタビューを見に行く</div></a>
    </div>

        <div class="gray-content">
        </div>

        <!--Section: 国別情報小出し部分-->
        <%= render 'common/countryinfo.html.erb' %>
          <a href="blogs"><div class="btn btn-lg btn-block index_page_btn margin_btn">他の国別情報を見に行く</div></a>
        </div>
        <!--Section: Best Features-->

        <div class="gray-content">
        </div>

        <!--Section: Examples-->
        <div class="container all_shadow_cla">
                  <h2 class="header_text_cla">
                   <%= fa_icon("fire-alt") %>クラウドファンディング挑戦中!!!
                  </h2>
                  <div class="cla_contents">
                     <div class="cla_title"><%= fa_icon("fist-raised") %>海外インターンの情報を発信するWEBメディア『MashUp』をより良い物に！！</div>
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UhUqiHWKSzc?modestbranding=1&showinfo=0&controls=0" frameborder="0"  allowfullscreen></iframe>
                        </div>
                        <div class="cla_body">
                         【”世界”をもっと身近に！】をミッションに掲げた海外インターン・ボランティアのWEBメディア『MashUp』をより良くしたいです。<br>具体的には、協力企業を集めるために東南アジアでの営業を計画しています。<br>そのための資金を集めるためにクラウドファンディングに挑戦します！
                         <br>どうぞご支援よろしくお願いします。
                        </div>
                      </div>
                   <a href="https://camp-fire.jp/projects/view/128502"><div class="btn btn-lg btn-block index_page_btn margin_btn">詳細はこちらから</div></a>
        </div>
        <!--Section: Examples-->

       <div class="gray-content">
      </div>

        <!--Section: Gallery-->
       <div class="container all_shadow">
           <h2 class="header_text">
             <%= fa_icon("poll-people") %>このサイトに掲載したい企業様を募集しています
           </h2>
           <div class="main_contents">
           掲載までの流れは以下のようになっています
                <img src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1553162638/mash_up_routine/9033a81ce5d38a17530c3bd319c37ca1.png" class="img-fluid">
              </div>
          <div class="word_contents">
           詳しくは<a href="/inquirys">お問い合わせページ</a>よりご連絡よろしくお願いします。
          </div>
       </div>
        <!--Section: Gallery-->
       <div class="gray-content">
      </div>
    </div>