<style type="text/css">
#countory_pic {
    background: url("<%= @country.show_pic %>")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
    height: 500px;
}
</style>
<div id="countory_pic" class="view">

  <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">国別生活状況まとめ</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="display-5 white-text my-8"><%= @country.name %>編</h4>
                </div>

            </div>

        </div>

    </div>

</div>
<div class="container all_top">
    <!--Grid row-->
    <div class="row word_color">
        <div class="col-lg-9">
          <div class="container">
            <section id="best-features">
                <div class="recruit_content">
                   <div class="all_shadow">
                      <h2 class="countory_header_text">
                       <%= fa_icon("poll-people") %><%= @country.name %>の生活特徴
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.feature) %>
                      </div>
                      <h2 class="countory_header_text">
                       <%= fa_icon("usd-circle") %>費用に関して
                      </h2>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("home-alt") %>家賃</div>
                          <div class="countory_item"><%= simple_format(@country.rent) %></div>
                        </div>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("utensils") %>食費</div>
                          <div class="countory_item"><%= simple_format(@country.food_expenses) %></div>
                        </div>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("ticket") %>航空券</div>
                          <div class="countory_item"><%= simple_format(@country.ticket) %></div>
                        </div>
                      <h2 class="countory_header_text">
                          <%= fa_icon("ballot-check") %>ビザの種類に関して
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.types_of_visas) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("hotel") %>住居を探すときにおすすめなサイト
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.find_residence_info) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("american-sign-language-interpreting") %>タイの日本人コミュニティーの紹介
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.community_info) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("calendar-week") %>詳細な情報が知りたい方へ
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.detail_info) %>
                      </div>
                    </div>
                  </div>
            </section>
         </div>
        </div>
        <!--Grid column-->
     <%= render :partial => "common/side.html.erb",locals: {connect_products: @connect_products, country: @country} %>
    </div>
  <!--Grid row-->
   </div>
  <!--Main container-->