<style type="text/css">
.countory_pic {
  height: 550px;
  width: 100%;
  display: table;
  background-size: cover;
  background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('<%= @country.show_pic %>');
}

@media only screen and (min-width: 1500px) {
  .countory_pic {
    height: 800px;
  }
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
  .countory_pic {
    height: 500px;
  }
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
  .countory_pic {
    height: 300px;
  }
}
</style>
<div class="img-fluid">
    <div class="col-xs-12 countory_pic">
      <div class="cover-text text-center">
        <div><p>国別生活状況まとめ</p></div>
        <div class="cover-subtext"><p><%= @country.name %>編</p></div>
      </div>
    </div>
</div>
<div class="container sm_top">
    <!--Grid row-->
    <div class="row word_color">
        <div class="col-lg-9">
          <div class="container">
            <section id="best-features">
                <div class="recruit_content">
                   <div class="all_shadow">
                      <h2 class="countory_header_text">
                       <%= fa_icon("poll-people") %><%= @country.name %>の生活特徴
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.feature) %>
                      </div>
                      <h2 class="countory_header_text">
                       <%= fa_icon("usd-circle") %>費用に関して
                      </h2>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("home-alt") %>家賃</div>
                          <div class="countory_item"><%= simple_format(@country.rent) %></div>
                        </div>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("utensils") %>食費</div>
                          <div class="countory_item"><%= simple_format(@country.food_expenses) %></div>
                        </div>
                        <div class="detail_info">
                          <div class="countory_item"><%= fa_icon("ticket") %>航空券</div>
                          <div class="countory_item"><%= simple_format(@country.ticket) %></div>
                        </div>
                      <h2 class="countory_header_text">
                          <%= fa_icon("ballot-check") %>ビザの種類に関して
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.types_of_visas) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("hotel") %>住居を探すときにおすすめなサイト
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.find_residence_info) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("american-sign-language-interpreting") %>タイの日本人コミュニティーの紹介
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.community_info) %>
                      </div>
                       <h2 class="countory_header_text">
                          <%= fa_icon("calendar-week") %>詳細な情報が知りたい方へ
                      </h2>
                      <div class="main_contents">
                        <%= simple_format(@country.detail_info) %>
                      </div>
                      <div class="main_contents">
                        ＊「他にもこんなコミュニティー・助けになる情報あるよ」という方は<a href="/inquirys">お問い合わせフォーム</a>からご連絡ください。
                      </div>
                    </div>
                  </div>
            </section>
         </div>
        </div>
        <!--Grid column-->
     <%= render :partial => "common/side.html.erb",locals: {connect_products: @connect_products, country: @country} %>
    </div>
  <!--Grid row-->
   </div>
  <!--Main container-->