
<!--Main layout-->
<main class="mt-10 all_top">

<!--Main container-->
<div class="container">
 <div class="row">

 <div class="col-md-12">
    <div class="search_pc">
      <%= render 'common/search.html.erb' %>
    </div>
    <div class="search_sp">
      <%= render 'common/searchsp.html.erb'%>
    </div>
    <script>
    $(document).ready( function(){
      var winW = $(window).width();
      var devW = 767;
      if (winW <= devW) {
        $(".search_sp").css({'display':'block'});
        $(".search_pc").css({'display':'none'});
        //767px以下の時の処理
      } else {
        $(".search_pc").css({'display':'block'});
        $(".search_sp").css({'display':'none'});
        //768pxより大きい時の処理
      }
     });

    $(window).on('load resize', function(){
      var winW = $(window).width();
      var devW = 767;
      if (winW <= devW) {
        $(".search_sp").css({'display':'block'});
        $(".search_pc").css({'display':'none'});
        //767px以下の時の処理
      } else {
        $(".search_pc").css({'display':'block'});
        $(".search_sp").css({'display':'none'});
        //768pxより大きい時の処理
      }
    });
    </script>
  </div>
  </div>
    <!--Grid row-->
    <div class="row">
         <% @products.each do |product| %>
            <div class="col-sm-6 col-md-4 search" data-category='CMS' data-tag='["<%= product.country.name %>","<%= product.period.id %>"]'>
          <a href="/products/<%= product.id %>">
            <div class="card top20">
            <div class="sub_pic">
               <img class="img-thumbnail" src="<%= product.slider_photo1 %>" alt="">
               <span><%= product.country.name %></span>
            </div>
             <div class="card-body">
                <div class="card-title">
                   <strong><%= simple_format(product.c_title) %></strong>
                </div>
                 <div class="card-title">
                   <table class="media-card_table">
                      <tr class="card_C_name">
                       <th>会社名</th>
                         <td><span class="dark"><%= product.c_name %></span></td>
                       </tr>
                       <tr class="card_C_priod">
                         <th>会社設立年</th>
                         <td><span class="dark"><%= product.c_established_year %></span></td>
                      </tr>
                   </table>
                 </div>
                 <% product.connect_tags.each_with_index do |connect_tag,i| %>
                  <li class="tag_zone_index">
                   <a class="" href="#"><%= connect_tag.tag.name %></a>
                   </li>
                   <%  break if i== 3 %>
                 <% end %>
              </div>
            </div>
          </a>
          <!--/.Card-->
          </div>
         <% end %>
    <!--Grid column-->
    </div>
       <script>
            //絞り込み検索機能
              var searchBox = '.search-boxs'; // 絞り込む項目を選択するエリア
              var listItem = '.search';   // 絞り込み対象のアイテム
              var hideClass = 'is-hide';     // 絞り込み対象外の場合に付与されるclass名

              $(function() {
                  // 絞り込み項目を変更した時
                  $(document).on('change', searchBox + ' input', function() {
                    setTimeout(function(){
                      search_filter();
                    },1000);
                  });
              });

              /**
               * リストの絞り込みを行う
               */
              function search_filter() {
                  check_conunt = 0
                  // 非表示状態を解除
                  $(listItem).removeClass(hideClass);
                  for (var i = 0; i < $(searchBox).length; i++) {
                      var name = $(searchBox).eq(i).find('input').attr('name');
                      // 選択されている項目を取得
                      var searchData = get_selected_input_items(name);
                      // 選択されている項目がない、またはALLを選択している場合は飛ばす
                      if(searchData.length === 0 || searchData[0] === '') {
                          continue;
                      }
                      // リスト内の各アイテムをチェック
                      for (var j = 0; j < $(listItem).length; j++) {
                        // console.log($(listItem).length);
                          // アイテムに設定している項目を取得
                          //引数でタグとカテゴリをget_setting_values_in_itemまで渡している
                          var itemData = get_setting_values_in_item($(listItem).eq(j), name);
                          console.log(itemData);
                          // 絞り込み対象かどうかを調べる
                          var check = array_match_check(itemData, searchData);
                          if(!check) {
                            $(listItem).eq(j).addClass(hideClass);
                          }
                      }
                  }
              }

              /**
               * inputで選択されている値の一覧を取得する
               * @param  {String} name 対象にするinputのname属性の値
               * @return {Array}       選択されているinputのvalue属性の値
               */
              function get_selected_input_items(name) {
                  var searchData = [];
                  $('[name=' + name + ']:checked').each(function() {
                      searchData.push($(this).val());
                  });
                  // console.log(searchData);
                  return searchData;
              }

              /**
               * リスト内のアイテムに設定している値の一覧を取得する
               * @param  {Object} target 対象にするアイテムのjQueryオブジェクト
               * @param  {String} data   対象にするアイテムのdata属性の名前
               * @return {Array}         対象にするアイテムのdata属性の値
               */
              function get_setting_values_in_item(target,data) {
                  var itemData = target.data(data);
                  if(!Array.isArray(itemData)) {
                      itemData = [itemData];
                  }
                  // console.log(itemData);
                  return itemData;
              }

              /**
               * 2つの配列内で一致する文字列があるかどうかを調べる
               * @param  {Array} arr1 調べる配列1
               * @param  {Array} arr2 調べる配列2
               * @return {Boolean}    一致する値があるかどうか
               */
              function array_match_check(arr1, arr2) {
                  // 絞り込み対象かどうかを調べる
                  var arrCheck = false;
                  for (var i = 0; i < arr1.length; i++) {
                      if(arr2.indexOf(arr1[i]) >= 0) {
                          arrCheck = true;
                          break;
                      }
                  }
                   // console.log(arrCheck);
                  return arrCheck;
              }
            </script>
<!--Grid row-->
    </div>
<!--Main container-->
</main>
<!--Main layout-->

