<div class="container">
    <!--Grid row-->
    <div class="row">
        <div class="col-lg-9">
        <h2 class="head_line">
        <i class=""></i><%= simple_format(@product.title) %>
    </h2>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- インジケータの設定 -->
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        </ol>
      <!-- スライドさせる画像の設定 -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div><a href="#"><img class="img-fluid" src="https://www.tigermov.com/images/uploads/slider/slider_img25c3d8980c3708.png" ></a></div>
          </div><!-- /.carousel-item -->
          <div class="carousel-item">
            <div><a href="#"><img class="img-fluid" src="https://www.tigermov.com/images/uploads/slider/slider_img15c3d88bbbb9f7.png" ></a></div>
          </div><!-- /.carousel-item -->
          <div class="carousel-item">
             <div><a href="#"><img class="img-fluid" src="https://www.tigermov.com/images/uploads/slider/slider_img55c4917fe005ff.png" ></a></div>
          </div><!-- /.carousel-item -->
          <div class="carousel-item">
             <div><a href="#"><img class="img-fluid" src="https://www.tigermov.com/images/uploads/slider/slider_img55c4917fe005ff.png" ></a></div>
          </div><!-- /.carousel-item -->
          <div class="carousel-item">
             <div><a href="#"><img class="img-fluid" src="https://www.tigermov.com/images/uploads/slider/slider_img55c4917fe005ff.png" ></a></div>
          </div><!-- /.carousel-item -->
        </div><!-- /.carousel-inner -->
      <!-- スライドコントロールの設定 -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
        </a>
    </div>
        <div class="white-content show_border">
         <%= simple_format(@product.catch_copy) %>
         タグゾーン
        </div>

        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-interview-tab" data-toggle="tab" href="#pills-interview" role="tab" aria-controls="pills-interview"  aria-selected="true">インタビュー</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" id="pills-info-tab" data-toggle="tab" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="false">会社情報</a>
        </li>
      </ul>

          <div class="tab-content" id="pills-tabContent">
           <div class="tab-pane fade show active" id="pills-interview" role="tabpanel" aria-labelledby="pills-interview-tab">
            <div class="white-content">
              <div class="bussinness_content">
                  <h2 class="header_text">
                   人生のミッション・目標
                  </h2>
                  <div class="main_contents">
                    <i class="i"></i>飛び抜けた人材になれ！マッキンゼーを辞めてアジアで経営に挑戦する Empag CEO 石崎優氏
                  </div>
              </div>
              <div class="experience_content">
                  <h2 class="header_text">
                  いつ、きっかけ、どうして
                  </h2>
                  <div class="main_contents">
                   《プロフィール｜石崎優氏》

Empag (Thailand) Co., Ltd. CEO

東京大学・大学院卒業。大学在学時に不動産ベンチャーの立ち上げとバーの運営を経験。大学院在学中に語学留学先のシアトルで発光ダイオードの特許を持つドクターの学生と出会い、技術の法人化を支援。大学院卒業後はマッキンゼーアンドカンパニーでコンサルタントとして活躍。2016年よりEmpagにCOOとして参画、2017年11月からCEO齋藤氏の退任に伴いCEOに就任。
                  </div>
              </div>
              <div class="request_content">
                  <h2 class="header_text">
                   現在
                  </h2>
                  <div class="main_contents">
                    <i class="i"></i><%= simple_format(@product.request_content) %>
                  </div>
              </div>
              <div class="intern_content">
                  <h2 class="header_text">
                   難しかった点、どうやって乗り越えたか、学んだ点
                  </h2>
              <div class="main_contents">
                  </div>
              </div>
              <div class="intern_content">
                  <h2 class="header_text">
                   具体的な今後の方針
                  </h2>
                  <div class="main_contents">
                   </div>
                </div>
                <div class="intern_content">
                  <h2 class="header_text">
                   学生へメッセージ
                  </h2>
                </div>
                <div class="intern_content">
                  <h2 class="header_text">
                   本おすすめ
                  </h2>
                </div>
                <div class="intern_content">
                  <h2 class="header_text">
                   編集者一言
                  </h2>
                </div>
            </div>
          </div>

            <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
             <div class="white-content">
              <div class="intern_content">
                  <h2 class="header_text">
                   企業紹介
                  </h2>
                  <div class="main_contents">
                    <ul class="detail_info">
                      <li class="item">企業名</li>
                      <li class="item">フィリピン</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">設立年</li>
                      <li class="item"><%= simple_format(@product.allowance) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">社員数</li>
                      <li class="item"><%= @product.employees_number %>名</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">国</li>
                      <li class="item"><%= simple_format(@product.language) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">都市</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">社員の国籍比率</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">使用言語の割合</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">手当</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">インターンシップ期間</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item">インターンシップ日数、時間</li>
                      <li class="item"><%= simple_format(@product.manager_profile) %></li>
                    </ul>
                   </div>
              </div>
               <div class="experience_content">
                  <h2 class="header_text">
                   事業内容
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.experience_content) %>
                  </div>
              </div>
              <div class="experience_content">
                  <h2 class="header_text">
                   求めるスペック
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.experience_content) %>
                  </div>
              </div>
              <div class="experience_content">
                  <h2 class="header_text">
                   会社の(HP、メールアドレス（連絡手段）
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.experience_content) %>
                  </div>
              </div>
              <div class="experience_content">
                  <h2 class="header_text">
                   会社の実績(制作物、実績URL、動画など)
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.experience_content) %>
                  </div>
              </div>

              </div>
            </div>
        </div>
      </div>
        <!--Grid column-->
     <%= render 'common/side.html.erb' %>
    </div>
  <!--Grid row-->
   </div>
  <!--Main container-->