<div class="container all_top">
    <!--Grid row-->
    <div class="row word_color">
        <div class="col-lg-9">
        <h2 class="head_line">
         <i class=""></i><%= simple_format(@product.c_title) %>
        </h2>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- インジケータの設定 -->
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <% if @product.slider_photo4.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <% else %>
        <% end %>
        <% if @product.slider_photo5.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <% else %>
        <% end %>
        <% if @product.slider_photo6.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <% else %>
        <% end %>
        <% if @product.slider_photo7.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <% else %>
        <% end %>
        </ol>
      <!-- スライドさせる画像の設定 -->
        <div class="carousel-inner">
                <div class="carousel-item active">
                  <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo1 %>" ></a></div>
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                  <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo2 %>" ></a></div>
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                   <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo3 %>" ></a></div>
                </div><!-- /.carousel-item -->
             <% if @product.slider_photo4.present? %>
                <div class="carousel-item">
                   <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo4 %>" ></a></div>
                </div><!-- /.carousel-item -->
             <% else %>
             <% end %>
             <% if @product.slider_photo5.present? %>
                <div class="carousel-item">
                   <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo5 %>" ></a></div>
                </div><!-- /.carousel-item -->
             <% else %>
             <% end %>
             <% if @product.slider_photo6.present? %>
                <div class="carousel-item">
                   <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo6 %>" ></a></div>
                </div><!-- /.carousel-item -->
             <% else %>
             <% end %>
             <% if @product.slider_photo7.present? %>
                <div class="carousel-item">
                   <div><a href="#"><img class="d-block w-100" src="<%= @product.slider_photo7 %>" ></a></div>
                </div><!-- /.carousel-item -->
             <% else %>
             <% end %>
        </div><!-- /.carousel-inner -->
      <!-- スライドコントロールの設定 -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
        </a>
    </div>
        <div class="white-content content_box">
         <%= simple_format(@product.c_catch_copy) %>
        </div>
        <ul class="nav border_bottom">
         <% @connect_tags.each.with_index(1) do |connect,i| %>
            <li class="nav-item tag_zone">
              <a class="nav-link" href="#"><%= i %>.<%= connect.tag.name %></a>
            </li>
            <% end %>
          </ul>
        <ul class="nav nav-justified" id="pills-tab" role="tablist">
        <li class="nav-item show_tabs show_bottom">
          <a class="nav-link active" id="pills-interview-tab" data-toggle="tab" href="#pills-interview" role="tab" aria-controls="pills-interview"  aria-selected="true">社長インタビュー</a>
        </li>
        <li class="nav-item show_tabs show_bottom">
         <a class="nav-link" id="pills-info-tab" data-toggle="tab" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="false">会社紹介</a>
        </li>
      </ul>
       <div class="gray-content">
       </div>

          <div class="tab-content" id="pills-tabContent">
           <div class="tab-pane fade show active" id="pills-interview" role="tabpanel" aria-labelledby="pills-interview-tab">
            <div class="white-content">
              <div class="bussinness_content content_box">
                  <h2 class="header_text">
                   <%= fa_icon("chart-bar") %>人生のミッション・目標
                  </h2>
                  <div class="main_contents">
                    <i class="i"></i><%= simple_format(@product.i_mission_life) %>
                  </div>
              </div>
              <div class="experience_content content_box">
                  <h2 class="header_text">
                  <%= fa_icon("history") %>きっかけとなる経験
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@product.i_3wmake_company) %>
                  </div>
              </div>
              <div class="request_content content_box">
                  <h2 class="header_text">
                   <%= fa_icon("stopwatch") %>現在の事業
                  </h2>
                  <div class="main_contents">
                    <i class="i"></i><%= simple_format(@product.i_current_state) %>
                  </div>
              </div>
              <div class="intern_content content_box">
                    <h2 class="header_text">
                      <%= fa_icon("child") %>難しかった点、どうやって乗り越えたか、学んだ点
                    </h2>
                <div class="main_contents">
                <%= simple_format(@product.i_gotover_point) %>
                    </div>
              </div>
              <div class="intern_content content_box">
                  <h2 class="header_text">
                   <%= fa_icon("forward") %>具体的な今後の方針
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@product.i_future_policies) %>
                   </div>
                </div>
                <div class="intern_content content_box">
                  <h2 class="header_text">
                   <%= fa_icon("comments") %>学生へメッセージ
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@product.i_message_students) %>
                   </div>
                </div>
           <% if @product.i_recommended_books.present? %>
                <div class="intern_content content_box">
                  <h2 class="header_text">
                  <%= fa_icon("book") %>本おすすめ
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@product.i_recommended_books) %>
                   </div>
                </div>
           <% else %>
           <% end %>
                <div class="intern_content content_box">
                  <h2 class="header_text">
                 <%= fa_icon("list-alt") %>編集者一言
                  </h2>
                  <div class="main_contents">
                   <%= simple_format(@product.i_editor_word) %>
                   </div>
                </div>
            </div>
          </div>

            <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
             <div class="white-content">
              <div class="intern_content all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("building") %>企業紹介
                  </h2>
                  <div class="main_contents">
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("bookmark") %>企業名</li>
                      <li class="item"><%= simple_format(@product.c_name) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("calendar") %>設立年</li>
                      <li class="item"><%= simple_format(@product.c_established_year) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("users") %>社員数</li>
                      <li class="item"><%= @product.c_employees_number %>名</li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("flag") %>国</li>
                      <li class="item"><%= simple_format(@product.c_country) %></li>
                    </ul>
                   <% if @product.c_city.present? %>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("university") %>都市</li>
                      <li class="item"><%= simple_format(@product.c_city) %></li>
                    </ul>
                   <% else %>
                   <% end %>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("globe") %>社員の国籍比率</li>
                      <li class="item"><%= simple_format(@product.c_employee_nationality_ratio) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("language") %>使用言語の割合</li>
                      <li class="item"><%= simple_format(@product.c_language_used_ratio) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("dollar-sign") %>手当</li>
                      <li class="item"><%= simple_format(@product.c_salary) %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("clock") %>インターンシップ期間</li>
                      <li class="item"><%= @periods[@product.c_period.to_i] %></li>
                    </ul>
                    <ul class="detail_info">
                      <li class="item"><%= fa_icon("calendar-alt") %>インターンシップ日数、時間</li>
                      <li class="item"><%= simple_format(@product.c_time) %></li>
                    </ul>
                   </div>
              </div>
              <div class="gray-content">
              </div>
               <div class="experience_content all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("briefcase") %>事業内容
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.c_business_content) %>
                  </div>
              </div>
              <div class="gray-content">
              </div>
             <% if @product.required_spec.present? %>
              <div class="experience_content all_shadow">
                  <h2 class="header_text">
                    <%= fa_icon("user-secret") %>求めるスペック
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.required_spec) %>
                  </div>
              </div>
             <% else %>
             <% end %>
              <div class="gray-content">
              </div>
              <div class="experience_content all_shadow">
                  <h2 class="header_text">
                   <%= fa_icon("envelope") %>会社の(HP、メールアドレス（連絡手段）
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.ways_contact) %>
                  </div>
              </div>
            <% if @product.company_achievements.present? %>
              <div class="gray-content">
              </div>
              <div class="experience_content all_shadow">
                  <h2 class="header_text">
                  <%= fa_icon("trophy") %> 会社の実績(制作物、実績URL、動画など)
                  </h2>
                  <div class="main_contents">
                    <%= simple_format(@product.company_achievements) %>
                  </div>
              </div>
            <% else %>
            <% end %>

              </div>
            </div>
        </div>
      </div>
        <!--Grid column-->
     <%= render 'common/side.html.erb' %>
    </div>
  <!--Grid row-->
   </div>
  <!--Main container-->