  <button type="button" class="btn btn-lg btn-block sp_model_bottom" data-toggle="modal" data-target="#exampleModalLong">
               <i class="fal fa-ballot-check"></i>検索条件を選択する
              </button>

<!-- モーダルの設定 -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">検索条件一覧</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
           <span aria-hidden="true"></span>
         </button>
       </div>
       <div class="modal-body">
          <div class="container">
            <div class="row">
               <form action="/internship" method="get" id="internship_form">
        <input type="hidden" name="mode" value="internship" />

  <dl class="searchBox__refine" style="display: none;">
    <dt class="searchBox__refine__tit">期間から絞り込む</dt>
    <dd>
     <div class="search-boxs">
      <ul class="searchBox__refine__check_sp">
        <% @periods.each do |period| %>
        <% if period.products.present? %>
          <li>
            <div id="change_hogesp<%= period.id %>" class="searchBox_block_sp">
               <input class="check_box" type="checkbox" name='tag' value="<%= period.id %>" id="hogesp<%= period.id %>">
                 <label class="label_sp" for="hogesp<%= period.id %>"><%= period.period %></label>
               </input>
            </div>
           </li>
        <% else %>
        <% end %>
        <% end %>
       </ul>
     </div>
    </dd>
  </dl>
  <dl class="searchBox__refine">
    <dt class="searchBox__refine__tit">国から絞り込む</dt>
    <dd>
      <div class="search-boxs">
      <ul class="searchBox__refine__check_sp">
          <% @countrys.each do |country|%>
           <% if country.products.present? %>
            <li>
              <div id="change_hogesp<%= country.id + 5 %>" class="searchBox_block_sp">
                <input class="check_box change_hogesp<%= country.id + 5 %>" type="checkbox" name='tag' value="<%= country.name %>" id="hogesp<%= country.id + 5 %>">
                  <label class="label_sp" for="hogesp<%= country.id + 5 %>"><%= country.name %></label>
                </input>
              </div>
            </li>
           <% else %>
         <% end %>
        <% end %>
         </ul>
       </div>
    </dd>
  </dl>
       <script>
        $('input[name="tag"]').change(function() {
          var val = $(this).attr('id');
          console.log(val);
          var val1 =  "#change_" + val ;
          console.log(val1);
        if ($(this).prop('checked')) {
         $(val1).css({'background-color':'#67c5ff'});
        } else {
          // テキストをリセット
         $(val1).css({'background-color':''});
        }
       });
    </script>
  </form>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
       </div>
     </div>
   </div>
</div>