<div class="searchBox__inner">
	<div class="searchBox__wrap" >
		<h2 class="searchBox__h2">インタビューを見つける</h2>
		<form action="/internship" method="get" id="internship_form">
	      <input type="hidden" name="mode" value="internship" />

	<dl class="searchBox__refine" style="display: none;">
	  <dt class="searchBox__refine__tit">期間から絞り込む</dt>
		<dd>
		 <div class="search-boxs">
		  <ul class="searchBox__refine__check">
		    <% @periods.each do |period| %>
		     <% if period.products.present? %>
			  <li>
			    <div id="change_hoge<%= period.id %>" class="searchBox_block">
			       <input class="check_box" type="checkbox" name='tag' value="<%= period.id %>" id="hoge<%= period.id %>">
			         <label class="label" for="hoge<%= period.id %>"><%= period.period %></label>
			       </input>
			    </div>
			   </li>
             <% else %>
             <% end %>
		    <% end %>
		   </ul>
		 </div>
		</dd>
	</dl>
	<dl class="searchBox__refine">
	   <dt class="searchBox__refine__tit">国から絞り込む</dt>
		<dd>
		  <div class="search-boxs">
			<ul class="searchBox__refine__check">
			    <% @countrys.each do |country|%>
			     <% if country.products.present? %>
				    <li>
					  <div class="searchBox_block" id="change_hoge<%= country.id + 5 %>">
					    <input class="check_box" type="checkbox" name='tag' value="<%= country.name %>" id="hoge<%= country.id + 5 %>">
					      <label class="label" for="hoge<%= country.id + 5 %>"><%= country.name %></label>
					    </input>
					  </div>
				    </li>
                <% else %>
                <% end %>
				<% end %>
		     </ul>
		   </div>
		</dd>
	</dl>
       <script>
        $('input[name="tag"]').change(function() {
	     	  var val = $(this).attr('id');
	     	  var val1 =  "#change_" + val ;
		    if ($(this).prop('checked')) {
		     $(val1).css({'background-color':'#67c5ff'});
		    } else {
		      // テキストをリセット
		     $(val1).css({'background-color':''});
		    }
	     });
		</script>
	</form>
	</div>
</div>