<div class="col-lg-3">
    <h4 class="text-small hr-bottom--thin no-space-bottom text-center">
      <i class="color-gray-light"></i>
      <div class="margin20">
       関連する企業情報
      </div>
      <!-- 切り替えボタンの設定 -->
      <button type="button" class="btn model_bottom" data-toggle="modal" data-target="#exampleModalLong">
       <i class="fal fa-globe-asia"></i>国別生活状況
      </button>

            <!-- モーダルの設定 -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">国別生活状況一覧</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                       <span aria-hidden="true"></span>
                     </button>
                   </div>
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">それぞれの国の国旗をクリックするとその国の生活状況を見ることができます</h5>
                  </div>
                   <div class="modal-body">
                      <div class="container">
                       <div class="row">
                           <% @countries.each do |country| %>
                             <% if country.feature.present? && country.flag_pic.present? && country.show_pic.present? && country.rent.present? && country.food_expenses.present? && country.ticket.present? %>
                               <div class="col-xs-3 search">
                                  <a href="/countries/<%= country.id %>">
                                     <div class="card margin20" style="width: 7rem;">
                                        <img class="card-img-top con_img border" src="<%= country.flag_pic %>" alt="">
                                        <div class="card-body con_body">
                                          <p class="card-text con_text"><%= country.name %></p>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                             <% else %>
                             <% end %>
                            <% end %>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                      </div>
                   </div>
                 </div>
               </div>
            </div>

        <!--コンテンツゾーン-->
        <!--  <% if @connect_products.present? %>
         <h4 class="text-small hr-bottom--thin no-space-bottom text-center">
             <i class="color-gray-light"></i><%= fa_icon("flag") %><%= @country.name %>の企業一覧
         </h4>
         <% @connect_products.each do |product| %>
            <div class="search" data-category='CMS' data-tag='["<%= product.country.name %>","<%= product.period.id %>"]'>
          <a href="/products/<%= product.id %>">
            <div class="card top20">
            <div class="sub_pic">
               <img class="img-thumbnail" src="<%= product.slider_photo1 %>" alt="">
               <span><%= product.country.name %></span>
            </div>
             <div class="card-body">
                <div class="side_card-title">
                   <strong><%= simple_format(product.c_title) %></strong>
                </div>
                 <div class="side_card-title">
                   <table class="media-card_table">
                      <tr class="card_C_name">
                       <th>会社名</th>
                         <td><span class="dark"><%= product.c_name %></span></td>
                       </tr>
                   </table>
                 </div>
                 <% product.connect_tags.each_with_index do |connect_tag,i| %>
                  <li class="tag_zone_index">
                   <a class="" href="#"><%= connect_tag.tag.name %></a>
                   </li>
                   <%  break if i== 3 %>
                 <% end %>
              </div>
            </div>
          </a>
          </div>
         <% end %>
         <% else %>
         <% end %> -->
          <!--/.Card-->
        <!-- <div class="text-center">
           <h4 class="text-small hr-bottom--thin no-space-bottom" style="margin-top: 100px;">
             <i class="color-gray-light"></i>スポンサーシップ広告
           </h4> -->
        <!--  <div class="search">
                      <a href="https://uck-inc.jp/">
                        <div class="card top20">
                        <div class="sub_pic">
                           <img class="img-thumbnail" src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1556103020/%E3%81%84%E3%81%84%E3%81%84%E3%81%84.jpg" alt="">
                           <span class="header-title">海外インターン</span>
                        </div>
                         <div class="card-body">
                            <div class="side_card-title">
                              顧客のビジネスの付加価値につながる”創造性の高い”、”顧客と共にワクワクできる”サービスを一緒に開発しましょう
                            </div>
                             <div class="card-title">
                               <table class="media-card_table">
                                  <tr class="card_C_name">
                                   <th>会社名</th>
                                     <td>
                                      <%= truncate(@spn_product.c_name, length: 30) do %>
                                      <% end %>
                                     </td>
                                   </tr>
                               </table>
                             </div>
                    <!--Grid column-->
                    </div>
                  </div>
                  </a>
              </div> 
       <!--   <div class="search">
          <a href="https://mushashugyo.jp">
                        <div class="card top20">
                        <div class="sub_pic">
                           <img class="img-thumbnail" src="https://res.cloudinary.com/ho9upjx8x/image/upload/v1557751855/mash_up_routine/60138100_2378474915728849_3715068057303908352_n.png" alt="">
                           <span class="header-title">短期プログラム</span>
                        </div>
                         <div class="card-body">
                            <div class="side_card-title">
                               2週間のビジネス経験で『変態』し、『自走式エンジン』を搭載する!
                            </div>
                             <div class="card-title">
                               <table class="media-card_table">
                                  <tr class="card_C_name">
                                   <th>会社名</th>
                                     <td>
                                      株式会社旅武者
                                     </td>
                                   </tr>
                               </table>
                             </div>
                    </div>
                  </div>
                  </a>
         </div> -->
      </div>
    </div>